/* MAIN HTML/CSS properties */

html, body {
    background-color: #4D2D73;
    height: 100%;
    width: 100%;
    color: rgba(202, 203, 194, 1);
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 3em;
}

.roboto-font {
    font-family: 'Roboto Condensed', sans-serif;
}

.hidden {
    display: none;
}

.level-points-row {
    margin-top: 0.5em;
}

/* BEGIN.HTML */

.begin-container{
    margin-top: 15em;
    text-align: center;
}


.btn-init{
    font-size: 2em;
    margin-top: 2em;
}

#btn-main-no{
    margin-left: 1em;
}


/* CHOOSE-LEVEL.HTML */

.level-container{
    margin-top: 10em;
    text-align: center;
}

.btn-level{
    margin-top: 2em;
    font-size: 2em;
    width: 8em;
    height: 6em;
}

.button-group {
    margin-left: 13em;
}


/* RULES.HTML */

.container-info{
    font-size: 1.5em;
}

.container-rules{
    margin-top: 10em;
    text-align: center;
}


#btn-ready{
    margin-top: 2em;
    width: 10em;
    font-size: 3em;
}

.right-align{
    text-align: right;
}


/* ROUND-1.HTML */


.round-header{
    text-align: center;
    margin-bottom: 2%;
}
.round-title{
    font-size: 5em;
}

.time-score{
    font-size: 2em;
}

.time-text{ 
    margin-left: 13%;
}

.round-one-area{
    background-color: rgba(221, 211, 253, 0.3);
    padding: 1em;
    border-radius: 1em;
}


.german-words{
    font-size: 2em;
}

.word-inputs {
    margin-top: 1em;
}

.container-submit{
    text-align: center;
    font-size: 2em;
}

.alert-feedback{
    margin-top: 1.5em;
    text-align: center;
}

/* Round Two */
#round-two-canvas{
    background-color: rgba(202, 203, 194, 1);
    width: 100%;
    margin-top: 0.7em;
}


.buttons{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.middle-buttons{
    margin-top: 1em;
    margin-bottom: 1em;
}

.lower-buttons{
    margin-left: 5em;
}

#searched-word{
    margin: 1em 0em 1.5em 5em;
}

.div-cont{
    text-align: center;
}

.btn-cont{
    font-size: 1.5em;
}

/* Round Three */
.sentences{
    text-align: center;
    font-size: 1.3em;
}

.words{
    text-align: center;
    font-size: 1.3em;
}

.col-buttons{
    text-align: center;
    margin-top: 3em;
}

.btn-check{
    font-size: 1.3em;
}

.btn-continue{
    font-size: 1.3em;
}

.table-sentences{
    text-align: left;
}

.input-missing-word {
    color: black;
}

/* GAMEOVER */

.rotate{
    margin-top: 1em;
    font-size: 2em;
    transform: rotate(340deg);
}

.text-lead{
    margin-left: 3em;
    margin-top: 2em;
    font-size: 3em;
}

/* ERROR */

.container-error{
    text-align: center;
    margin-top: 15em;
}

.btn-go-back{
    margin-top: 2em;
    font-size: 2em;
}

/* Animated Blinking Cursor */

.begin-title{
    display: inline;
    font-size: 4em;
    font-weight: bold;
}

.level-text{
    display: inline;
    font-size: 4em;
    font-weight: bold;
    padding-top: 1em;
}

.rules-text{
    display: inline;
    font-size: 4em;
    font-weight: bold;
}


.typed-cursor{
    font-size: 4em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}