<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle" src="img/profile4.png" alt="" width="270" height="270">
                <div class="intro-text"><!--MISTRAL-->
                    <span class="name">Aleksandar</span>
                    <hr class="star-light">
                    <span class="skills">Aspiring Web Developer - JAVA Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Three columns of text below the carousel -->
<section class="features">
    <div class="container">
        <div class="row">
            
                <div class="col-lg-4">
                <img class="img-circle" src="img/featleft.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Web</h2>
                <p>On the Front-side, I am familiar with HTML, CSS, JS, Bootstrap. JQuery and AngularJS are spicing things up for me. On the Back-side PHP and MySQL are my technologies of choice.</p>
                <!-- GILL SANS ULTRA BOLD + BOLD + 60 -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4" id="center-feature">
                <img class="img-circle" src="img/featcenter.png" alt="Generic placeholder image" width="140" height="140">
                <h2>About Me</h2>
                <p>I am a 21-year-old Computer Engineering student with passion for programming. I am building up my knowledge with many web development and JAVA concepts on a daily basis.</p>
                
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                <img class="img-circle" src="img/featright.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Java</h2>
                <p>As part of my studies, I have become quite familiar with many programming concepts. OOP, Concurrency, Serialization, Working with DBs and many more are within my repertoire.</p>
                
                </div><!-- /.col-lg-4 -->
            
        </div><!-- /.row -->
    </div>    
</section>