html, body, .container-fluid{
    height: 100%;
}

.row{
    height: 100%;
}

.left-column{
    height: 100%;
    padding-top: 15%;
    padding-left: 10%;
}

.right-column{
    background: rgba(9,108,133,1);
    background: -moz-linear-gradient(top, rgba(9,108,133,1) 0%, rgba(27,154,189,1) 50%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,108,133,1)), color-stop(50%, rgba(27,154,189,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(top, rgba(9,108,133,1) 0%, rgba(27,154,189,1) 50%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(top, rgba(9,108,133,1) 0%, rgba(27,154,189,1) 50%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(top, rgba(9,108,133,1) 0%, rgba(27,154,189,1) 50%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to bottom, rgba(9,108,133,1) 0%, rgba(27,154,189,1) 50%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#096c85', endColorstr='#49a5bf', GradientType=0 );
    height: 100%;
    text-align: center;
    padding-top: 5%;
}

.main-text{
    color:#2d2b2b;
    font-weight: bolder;
    font-size: 3.5em;
    margin-bottom: 2%;
}

.explanation-text{
    color: #766f6f;
    font-size: 1.1em;
    font-style: "Verdana";
}

.google-play{
    margin-left: -2.5%;
}

.sub-title{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 2%;
}

.logo{
    margin-top: -2%;
    margin-right: 1%;
    margin-bottom: 3%;
}

.phone-image {
    max-width: 100%;
    height: auto;
}

.phone-image-margin{
    margin-top: 15em;
}