/* MAIN.CSS*/

html, body {
	color: white;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	min-height: 100%;
	min-width: 100%;
	font-family: 'Arvo', serif;
}
.navbar-brand{
	font-size:2em;
}

.popover{
	max-width: 200px;
	color: black;
	font-size: 1.1em;
	font-weight: 700;
	
}

label {
	font-family: Arial, Helvetica, sans-serif;
}

.hidden{
	display: none;
}

/* MAIN.HTML */

.reg-form-col{
	margin-top: 10em;
	text-align: center;
	background-color: rgba(138, 144, 178, 0.55);
	border-radius: 1em;
	padding: 1.5em;
}

.reg-alert{
	margin-top: 1em;
}

/* NOTES.HTML */

.container-notes {
	margin-top: 10em;
}

#btn-add-note{
	margin-top: 2em;
	margin-bottom: 2em;
}

#message-box{
	margin-top: 6em;
}

.btn-round{
	border-radius: 1em;
}

.pagination-group{
	text-align: center;
}

.col-entries{
	margin-top: 3em;
	margin-right: 2em;
}

#note-time{
	color: black;
	font-size: 1.1em;
}
#note-text{
	font-size: 0.9em;
}

#note-title{
	margin: 2em 0em 1em 0em;
}

#info-text{
	margin-top: 1em;
}

/* ERROR.HTML */

.x{
	font-size: 7em;
}

.error{
	text-align: center;
	background-color: rgba(138, 144, 178, 0.3);
	padding: 5em;
	border-radius: 2em;
}