html, body {
	color: white;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	min-height: 100%;
	min-width: 100%;
	font-family: 'Oswald', sans-serif;
	font-family: 'Catamaran', sans-serif;
	font-family: 'Arvo', serif;
}
.navbar-brand{
	font-size:2em;
}

label {
	font-family: Arial, Helvetica, sans-serif;
}

.reg-form-col{
	margin-top: 10em;
	text-align: center;
	background-color: rgba(138, 144, 178, 0.55);
	border-radius: 1em;
	padding: 1.5em;
}

.reg-alert{
	margin-top: 1em;
}

.hidden{
	display: none;
}

.container-notes {
	margin-top: 10em;
}

#btn-add-note{
	margin-top: 2em;
	margin-bottom: 2em;
}

#message-box{
	margin-top: 6em;
}

.btn-round{
	border-radius: 1em;
}

.pagination-group{
	text-align: center;
}

.col-entries{
	margin-top: 3em;
	margin-right: 2em;
}