html, body {
    height: 100%;
    width: 100%;
    background-color: rgba(33,33,33,0.96);
    background-color: ghostwhite;
    color: rgba(117, 117, 117, 1);
}


.logo-container{
    margin-top: 40%;
    text-align: center;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-transparent{
    background-color: rgba(233,33,136,0.1);
    background-color: #5F5F5F;
}

.menu-buttons{
    margin-left: 25%;
}

.social-buttons{
    margin: 0% 30% 0% 0%;
    padding: 0 0 0 0;
}

.navbar-noborder{
    border-radius: 0px;
}


/* ABOUT-ME.HTML */

.col-explanation {
    margin-top: 4em;
    font-size: 1.1em;
    color: rgba(176, 176, 176, 1);
    color: #3c3c3c;
    color: rgba(33,33,33,0.96);
}


/* Contact Me */

.cont-heading {
    text-align: center;
    margin-bottom: 3em;
}

.contact-input {
    height: 2.3em;
    font-size: 1.5em;
}

textarea {
    font-size: 20px;
}

.contact-button{
    text-align: center;
    margin-top: 2em;
}

.btn-email{
    font-size: 1.5em;
}

.contact-h1{
    font-size: 3.5em;
}

/* Projects */

.projectBox{
    height: 20em;
    background-color: dimgrey;
    margin-left: 6em;
    margin-bottom: 3em;
}