<nav class="navbar nav-main navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <p class="nav-main-brand">Chat.It</p>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email..."  ng-model="logEmail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Password..."  ng-model="logPass">
            </div>
            <button class="btn btn-success" ng-click="login()">Log In</button>
        </form>
    </div><!--/.navbar-collapse -->
    </div>
</nav>



<div class="row">
    <div class="container-fluid container-registration">
        <div class="col-md-3">
            <div class="phone">

            </div>
        </div>
        <div class="col-md-6 col-registration">
            <h1>Join Us!</h1>
            <p class="lead">Sign Up And Get The Chance To Chat With Your Friends</p>
            <form class="form-group"> 
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name..." ng-model="regUser" required>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email..." ng-model="regMail" required>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password..." ng-model="regPass" required>
                </div>

                <button class="btn btn-success" ng-click="register()">Register</button>
            </form>
        </div>
        <div class="col-md-3">
            <div class="phone">
                
            </div>
        </div>
    </div>
</div>