<!-- NAVIGATION NOTES -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header pull-left">		
            <a class="navbar-brand">Note.It</a>
        </div>
        <div class="pull-right">
            <ul class="navbar-nav nav pull-right">
                <li><a>{{email}}</a></li>
                <li><a ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </div>	
</div>
<!-- NAVIGATION NOTES END -->



<!-- NOTES SECTION -->		
<div class="container container-notes">
    <div class="row">
        <div class="col-md-3 col-entries" >
            <h4 class="text-center">Last Entries</h4>
            <div class="list-group">
                <a ng-click="noteClick(item.text, item.title)" class="list-group-item a-notes" 
                ng-repeat = "item in list | startFrom:currentPage*pageSize | limitTo:pageSize"
                data-toggle="popover" title="{{item.text.slice(0,100)}}">
                <span id="note-time">{{item.time.slice(0,10)}}</span> 
                |
                <span id="note-text">{{item.title.slice(0,20)}}</span>
                
                </a>
            </div>
            <div class="pagination-group">
                <button class="btn btn-default btn-round" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">&lt;&lt;</button>
                <button class="btn btn-default btn-round" ng-disabled="currentPage >= list.length/pageSize - 1" ng-click="currentPage=currentPage+1">&gt;&gt;</button>
            </div>
            <div id="info-text">
                <span>* Double click to reload an old note</span>
                <br />
                <span>* Hover to see snippet of the text</span>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Your new entry...</h3>
            <form method="get">
                <input type="text" class="form-control" id="note-title" ng-model="noteTitle" placeholder="Your Title...">
                <textarea class="form-control" ng-model="note" id="note" name="note" cols="10" rows="20" placeholder="Your new note..."></textarea>
                
                <input type="submit" class="btn btn-success pull-right" id="btn-add-note" value="submit" ng-click="addNote()" />
            </form>
            <div class="alert" id="message-box">
                
            </div>
        </div>
         
        
    </div>
</div>
<!-- NOTES SECTION END -->