<div class="level-container">
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <h1 class="level-text"></h1>       
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group-choose">
                <button class="btn btn-danger btn-level" id="btn-beginner" ng-click="chooseLevel($event)" ng-show="isShown">Beginner</button>
                <button class="btn btn-primary btn-level" id="btn-intermediate" ng-click="chooseLevel($event)" ng-show="isShown">Intermediate</button>
                <button class="btn btn-success btn-level" id="btn-advanced" ng-click="chooseLevel($event)" ng-show="isShown">Advanced</button>
            </div>
        </div>
    </div>
<div>
