<div class="level-container" ng-controller="ChooseLevelController">
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <h1 class="level-text"></h1>       
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 button-group">
            <button class="btn btn-danger btn-level btn-hidden" id="btn-beginner" ng-click="chooseBeginner()">Beginner</button>
            <button class="btn btn-primary btn-level btn-hidden" id="btn-intermediate" ng-click="chooseIntermediate()">Intermediate</button>
            <button class="btn btn-success btn-level btn-hidden" id="btn-advanced" ng-click="chooseAdvanced()">Advanced</button>
        </div>
    </div>
<div>
