<div class="row">
    <div class="col-md-9">
        <div class="container init-container" ng-controller="InItController">
            <h1 class="init-title"></h1>
            <div class="row">
                <button class="btn btn-primary btn-init btn-hidden" id="btn-init-yes" ng-click="chooseLevel()">Yes, of course.</button>
                <button class="btn btn-danger btn-init btn-hidden" id="btn-init-no" ng-click="showNoty()">No, please no.</button>
            </div>
        </div>
    </div>
</div>
