<div class="container-info">
    <div class="row level-points-row">
        <div class="col-md-3">Level: {{level}}</div>
        <div class="col-md-3 col-md-offset-6 right-align">Points: {{points}}</div>
    </div>
</div>

<div class="container-rules">
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <h1 class="rules-text"></h1>       
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 button-group">
            <button class="btn btn-success btn-hidden" id="btn-ready" ng-click="startFirstRound()" ng-show="isShown">Bring it on!</button>
        </div>
    </div>
<div>
