<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="cont-heading">
            <h1 class="contact-h1">Contact Me</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="form-group">
            <input type="email" class="form-control contact-input" placeholder="Your Email*">
        </div>
        <div class="form-group">
            <input type="text" class="form-control contact-input" placeholder="Your Name*">
        </div>
        <div class="form-group">
            <input type="text" class="form-control contact-input" placeholder="The Title*">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            
            <textarea class="form-control contaxt-txt" rows="8" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="contact-button">
            <button class="btn btn-submit btn-email">Send Me An Email!</button>
        </div>
    </div>
</div>